div{
    margin:0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.top{
    background-color: rgb(89, 81, 160);
    border: none;
    padding: 20px 50px;
    cursor: pointer;
}
h1{
    font-size: 40px;
}
span{
    color: rgb(4, 87, 241);
}
p{
    color:rgb(32, 30, 30) ;
}
.view{
    background-color: rgb(22, 21, 21);
    color: white;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}